body {
  background-color: #171717 !important;
  background-image: none !important;
}

html[dir] ._3Jvyf,
html[dir] .r7sRK,
html[dir] ._1RYPC,
html[dir] ._3yth3,
html[dir] .kiodY,
html[dir] ._2I-yY,
html[dir] ._3fUe9,
html[dir] ._3BqnP._3VXiW,
html[dir] ._2Qm0c,
html[dir] ._2avTY,
html[dir] ._2Qm0c,
html[dir] ._3jHKU,
html[dir] ._1Kstu,
html[dir] .NeQRT,
html[dir] ._2AJf5,
html[dir] ._2Pown,
html[dir] ._3fs0K,
html[dir] ._3cukQ ._1mrMQ,
#initial_startup,
#startup {
  background-color: #171717 !important;
}

[data-icon="status-v3"] svg path,
[data-icon="forward"] svg path,
[data-icon="panel-recent"] svg path,
#df9d3429-f0ef-48b5-b5eb-f9d27b2deba6 > path:nth-child(1),
#Layer_1 > path,
#Layer_1 > path {
  fill: #ffffff !important;
  fill-opacity: 1;
  opacity: 1;
}

html[dir="ltr"] ._30sf0 {
  border-left: 0 !important;
}

html[dir="ltr"] .FkdAD {
  margin-bottom: 5px !important;
}

html[dir] ._3RWII,
html[dir] ._2HS9r,
html[dir] ._2UaNq,
html[dir] .eiCXe,
html[dir] .ZP8RM._19OGD,
html[dir] ._1ebw2,
html[dir] .OWYLS,
#side > div._2HS9r > div > label > input,
html[dir] ._2gisX,
html[dir] ._2hHc6,
html[dir="ltr"] ._3HCkv,
html[dir] .jkZx4,
html[dir] .s4BtI,
html[dir] ._1hhkM,
html[dir] ._1WD8C,
html[dir] ._2rGVQ,
html[dir] ._19xqi,
html[dir] ._3RiLE,
html[dir] ._27U_m,
html[dir] ._2HyTU,
html[dir] ._1w-mX,
html[dir] ._70TS5,
html[dir] ._1o6AT ._1mrMQ,
html[dir] ._1AUdd._1SsXF,
html[dir] .message-in ._2Wx_5,
html[dir] ._3KRbU,
html[dir] ._2LSbZ,
html[dir] ._26JG5,
html[dir] .Lhd3q.HNuTV,
html[dir] ._3qblR._1SsXF,
html[dir] ._2sOZc,
html[dir] .message-in ._2Hp95 ._3Mf7Z,
html[dir] .message-in ._2Hp95 ._3qAvH,
html[dir] .cGLoy,
html[dir] .ZP8RM,
html[dir] ._2zCfw,
html[dir] ._11p3Q,
html[dir] ._2nZ2E.HNuTV,
html[dir] ._1FPJ-:after,
::-webkit-scrollbar-track,
._1LsoD {
  background-color: #000000 !important;
}

#side > div._2HS9r > div > label > input,
._2ko65 ._3H4MS,
._3H4MS {
  color: #fdfdfd !important;
}

.xD91K,
._0LqQ,
.at-symbol {
  color: #545454 !important;
}

/* hora de mensaje */
._2ko65 ._0LqQ {
  color: #206c26 !important;
}

html[dir] ._2WP9Q {
  border-top: 1px solid #222222 !important;
}

html[dir] ._2UaNq._3mMX1:after,
html[dir] ._2UaNq:hover:after {
  border-top: 0 !important;
}

html[dir] ._2DxRd {
  border-top: 1px solid #000000 !important;
}

/* icono de video en barra lateral */

[data-icon="status-miss"] svg path,
[data-icon="status-dblcheck-ack"] svg path,
[data-icon="status-check"] svg path,
[data-icon="status-dblcheck"] svg path,
[data-icon="muted"] svg path,
.status-sticker svg path,
.status-image svg path,
.status-video svg path {
  fill: #545454 !important;
}

::-webkit-scrollbar-thumb {
  background: #545454 !important;
}

html[dir] ._1wSzK {
  display: none;
}

/* ventana de chat */

._19vo_,
._1zGQT,
#main
  > footer
  > div._2i7Ej.copyable-area
  > div._13mgZ
  > div
  > div._3u328.copyable-text.selectable-text,
.kiodY .kyJvR,
.Sl-9e,
html[dir] ._2gisX,
html[dir="ltr"] ._2GXNm,
html[dir] ._3FeAD._2YgjU ._3u328,
._2Vo52,
._3Dvhp,
html[dir] ._44uDJ,
._2IHkF,
._3RQIp,
._6xQdq,
html[dir] ._2zCfw,
._12pGw strong,
._2LRBk {
  color: #ffffff !important;
}

.i1XSV._3Q3ui,
._3MYI2 {
  color: #545454 !important;
}

._1_keJ,
html[dir] .iFKgT,
html[dir] ._1KDYa {
  background-color: #0c1213 !important;
}

html[dir] .message-out ._2Wx_5,
html[dir] ._2i7Ej,
html[dir] ._13mgZ {
  background-color: #282828 !important;
}

html[dir="ltr"] .message-in .tail-container,
html[dir="ltr"] .message-in .tail-override-left .tail-container,
html[dir="ltr"] .message-in .tail-override-right .tail-container,
html[dir="ltr"] .message-out .tail-override-right .tail-container,
html[dir="ltr"] .message-out .tail-container,
html[dir] .app {
  background-image: none !important;
}

html[dir] ._13mgZ {
  border: 1px solid #545454 !important;
}

._2HHbr,
html[dir="ltr"] ._1QjgA ._1F9Ap {
  color: rgba(255, 255, 255, 0.6) !important;
}

html[dir="ltr"] ._15CAo._3EQsG {
  background: linear-gradient(
    90deg,
    hsla(94, 78%, 87%, 0) 0,
    #282828 50%
  ) !important;
}

html[dir="ltr"] ._15CAo._2Nkc4 {
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0) 0,
    #000000 50%
  ) !important;
}

._1QjgA color-1 ._2q8oz > ._1F9Ap,
html[dir] .Am8s6 {
  color: rgba(255, 255, 255, 0.4) !important;
}

html[dir] .a7otO {
  background: rgba(20, 10, 1, 0.92) !important;
}

._3JxFB,
._2cR8w,
._1o0MN {
  color: rgba(255, 255, 255, 0.6) !important;
}

._23MBZ,
._17hud {
  color: rgba(255, 255, 255, 0.8) !important;
}

html[dir="ltr"] ._3fs0K {
  border-left: none !important;
}

html[dir] ._2KgjI,
html[dir] ._19YfI,
html[dir] ._3Fq9Y {
  background: rgba(0, 0, 0, 0.93) !important;
}
